.container-fluid 
{
  text-align: center;
  background-color: slategray;
}
.container-fluid canvas
{
  background-color: slategray;
}
#root, html ,body
{
  width:100%;
  height: 100%;
}
#root .container-fluid , .container-fluid
{
  height: 100%;
}
.layerCanvas
{
  position: relative;
}
#axesCanvas, #plotCanvas
{
  position: absolute;
  top: 0;
  left: 0;
}
#plotCanvas
{
  background-color: transparent;
}