.container-fluid 
{
  text-align: center;
  background-color: slategray;
}
.container-fluid canvas
{
  background-color: slategray;
}
#root, html ,body
{
  width:100%;
  height: 100%;
}
#root .container-fluid , .container-fluid
{
  height: 100%;
}